{% extends 'base.html' %}


{% block content %}




<div class="container mt-4">

    <div id="carouselExampleIndicators" class="carousel slide mb-4" data-mdb-ride="carousel" data-mdb-carousel-init>
        <div class="carousel-indicators">
            <button type="button" data-mdb-target="#carouselExampleIndicators" data-mdb-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-mdb-target="#carouselExampleIndicators" data-mdb-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-mdb-target="#carouselExampleIndicators" data-mdb-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://mdbcdn.b-cdn.net/img/new/slides/041.webp" class="d-block w-100"
                    alt="Wild Landscape" />
            </div>
            <div class="carousel-item">
                <img src="https://mdbcdn.b-cdn.net/img/new/slides/042.webp" class="d-block w-100" alt="Camera" />
            </div>
            <div class="carousel-item">
                <img src="https://mdbcdn.b-cdn.net/img/new/slides/043.webp" class="d-block w-100" alt="Exotic Fruits" />
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-mdb-target="#carouselExampleIndicators"
            data-mdb-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-mdb-target="#carouselExampleIndicators"
            data-mdb-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3  g-4">

        {% for ann in announcements %}
        <div class="col">
            <div class="card h-100">

                <div id="carousel-{{ ann.pk }}" class="carousel slide carousel-fade" data-mdb-ride="carousel" data-mdb-carousel-init>
                    <div class="carousel-inner">
                        {% for img in ann.images.all %}

                        <div class="carousel-item  {% if forloop.first %} active {% endif %}">
                            <img src="{{ img.image.url }}" class="d-block w-100" height="400" style="object-fit: cover;" />
                        </div>

                        {% endfor %}
                    </div>
                    <button class="carousel-control-prev" data-mdb-target="#carousel-{{ ann.pk }}" type="button"
                        data-mdb-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" data-mdb-target="#carousel-{{ ann.pk }}" type="button"
                        data-mdb-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
                <div class="card-body">
                    <a href="{% url 'detail_page' ann.pk %}">
                        <h4 class="card-title">{{ ann.title }}</h4>
                    </a>
                    <p class="card-text">{{ ann.description|truncatewords:20 }}</p>
                    <div class="card-price fw-bold">Narxi: {{ ann.price }} so'm</div>
                    <div class="card-owner">Sotuvchi: {{ ann.owner.username }}</div>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>


</div>

{% endblock %}